@{
    Layout = null;
}

<!DOCTYPE html>
<!--以后添加-->
<!--这个页面用于显示媒体服务器拥有的设备信息-->
<!--转移设备到其他服务器-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
