<div>
    @{
        ViewBag.Title = "About";
    }
    <script type="text/javascript">
    SetActive(5);//<<--

    </script>
    <div class="row">
        <div class="col-md-12">
            <h2>关于我们</h2>
            <!---->
        </div>
    </div>



</div>