<div>
    @{ViewBag.Title = "帮助";}
    <script type="text/javascript">
        SetActive(4);//<<--
    </script>
    <div class="row">
        <div class="col-md-12">
            <h2>帮助文档</h2>
            <!---->
            
        </div>
    </div>
</div>

